<% layout("layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src=<%= venue.image %> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= venue.name %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Team: <%= venue.team %></li>
              <li class="list-group-item text-muted">League: <%= venue.league %></li>
            </ul>
            <div class="card-body">
              <a href="/venues/<%= venue._id %>/edit" class="card-link btn btn-info">Edit Venue</a>
              <form action="/venues/<%= venue._id %>?_method=DELETE" method="POST" class="d-inline">
                <button class="btn btn-danger">Delete Venue</button>
            </form>
            </div>
        </div>
    </div>
</div>